.banner-secondary {
  font-weight: bold;
  font-family: "Trebuchet MS", Roboto, sans-serif;
  background-image: asset-url('brooke-lark-HjWzkqW1dgI-unsplash.jpg');
  background-size: cover;
  height: 40vh;
  color: white;
  text-align: center;
  padding-top: 20vh;
  margin-bottom: 16px;
}
