.card {
margin-top: 20px;
margin-left: 1%;
margin-right: 1%;
width: 30%;
height: 250px;
background-image: asset-url('kim-daniels-p6XuDW03YjE-unsplash.jpg');

}

ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
}

li {
  display:inline;
  float: left;
  margin: 0;
  padding: 0;
}
